:root {
	--dgreen: #38817a;
	--dgreen-light: #488a84;
	--dgreen-lighter: #41847e;
	--dgreen-dark: #22766E;
	--dgreen-darker: #166059;
	--action-color: #55bfb5;
	--action-color-hover: #5DC7BD;
	--dgreen-toolbar: #51938d;
	--dgreen-toolbar-menu: #488a84;

	--error: #e74c3c;
	--success: #56bfb5;
	--info: #3498db;

	--dgreen-trans: rgba(56,129,122,0.9);
	--white-trans: rgba(255,255,255,0.9);

	--grey-lighter: #F9F9F9;
	--grey-light: #f6f6f6;
	--grey: #DEDEDE;
	--grey-medium-lighter: #EEEEEE;
	--grey-medium-light: #D6D6D6;
	--grey-medium: #B4B4B4;
	--grey-dark: #454545;
	--grey-darker: #272727;
	--grey-hover: #DBDBDB;
	--grey-todo: #F2F2F2;

	--text-color: #555;
	--text-light: #696969;
	--text-lighter: #949494;

	--orange: #edaf82;
	--online: #70E15E;
	--offline: #FE5763;
}