.button{
	display: inline-block;
	border: none;
	color: var(--text-color);
	text-decoration: none;
	background: var(--grey);
	padding: 10px 15px;
	border-radius: 2px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

.button-small{
	padding: 3px 15px;
}

.button-green{
	color: #fff;
	background: var(--action-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-button{
	position: fixed;
	bottom: 18px;
	right: 22px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background: var(--action-color);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	border-radius: 100%;
	z-index: 200;
}

.action-button i{
	color: #fff;
	font-size: 1.2em;
	transform: translateY(1px);
}

.floating-menu{
	display: none;
	position: fixed;
	bottom: 110px;
	right: 28px;
	z-index: 600;
	text-align: right;
}

.floating-menu.open{
	display: inline-block;
}

.floating-button{
	margin-top: 15px;
	/*transform: translateY(15px);
	opacity: 0;*/
}

.floating-button i,
.floating-button p{
	color: var(--text-color);
}

.floating-button .round{
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
	background: #fff;
	border-radius: 100%;
}

.floating-button .round.oranged{
	background: #edaf82;
}

.floating-button .round.reded{
	background: #e77f87;
}

.floating-button .round i{
	color: #fff;
	font-size: 1.2em;
	transform: translateY(1.5px);
}
.floating-button p{	
	display: inline-block;
	vertical-align: top;
	color: #fff;
	padding: 4px 15px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	border-radius: 3px;
	background: var(--grey-dark);
	transform: translateY(3px);
}

.floating-button p:active{
	background: var(--grey-medium);
}

.close-sidebar{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	display: none;
	z-index: 800;
}

.close-sidebar.on{
	display: inline-block;
}

.close-sidebar p{
	display: inline-block;
	width: 100%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 6px 10px;
	background: var(--grey-dark);
	margin-bottom: 0;
}

@media only screen and (min-width:1100px){
	.button{
		cursor: pointer;
		transition: background 0.2s;
	}

	.button:hover{
		color: var(--text-color);
		background: var(--grey-hover);
	}

	.button-green:hover{
		color: #fff;
		background: var(--action-color-hover);
	}
}