.toolbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--dgreen-toolbar);
	z-index: 400;
	transform: translateX(-110%);	
	transition: transform 0.15s ease-out;
	padding-top: 130px;
}

.todo{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: var(--grey-todo);
	z-index: 400;
	transform: translateX(100%);	
	transition: transform 0.15s ease-out;
}

.infobar{
	width: 100%;
	height: auto;
	background: var(--grey-light);
	padding: 20px;
	margin-top: 132px;
}

.infobar.empty{
	display: none;
	padding: 0;
	margin-top: 0;
}

.infos{
	width: 100%;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}

.infos h4{
	font-size: 1.3em;
	padding-bottom: 3px;
	font-weight: 600;
	margin-bottom: 7px;
}

.info-bloc{
	position: relative;
	padding: 20px 0;
	border-bottom: 1px solid var(--grey-light);
}

.info-img,
.info-user{
	display: inline-block;
	float: left;
	vertical-align: top;
}

.info-img{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
}

.info-img img{
	height: 100%;
}

.info-user{
	width: 80%;
	padding-left: 10px;
}

.info-user p{
	display: inline-block;
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 0;
}

.info-user span{
	display: block;
	font-size: 0.8em;
}

.info-user span,
.info-user em{
	color: var(--text-lighter);
}

.info-user a{
	display: inline-block;
	margin-left: 5px;
}

.info-header i{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.1em;
	color: var(--text-lighter)
}

.info-connect{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.6);
}

.info-connect a{
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	transform: translateY(50%);
}

.info-connect .accept{
	color: #fff;
	background: var(--action-color);
}

.info-connect .decline{
	color: var(--grey-darker);
	background: var(--grey);
}

.sidebar.on{
	transform: translateX(0);
	z-index: 3000;
}

.sidebar-header{
	position: fixed;
	top: 55px;
	left: 0;
	width: 100%;
	height: auto;
	background: var(--dgreen-toolbar-menu);
	padding: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
	z-index: 600;
}

.sidebar-header .sidebar-icon{
	position: relative;
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(255,255,255,0.2);
	border-radius: 100%;
	margin-right: 15px;
}

.sidebar-header .sidebar-icon i{
	color: #fff;
	font-size: 1.2em;
	transform: translateY(1px);
}

.sidebar-icon::before,
.sidebar-icon.default-800::before,
.sidebar-icon.active::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: #fff;
	transform: translateX(-50%) translateY(-50%);
	transition: opacity 0.15s ease-out, margin-top 0.15s ease-out, margin-left 0.15s ease-out;
}

.sidebar-icon::before{
	margin-top: -10px;
	opacity: 0;
}

.sidebar-icon.active-800::before{
	opacity: 0;
}

.sidebar-icon.active::before{	
	margin-top: 0;
	opacity: 1;
}

.sidebar-content-header{
	padding: 15px 0;
}

.sidebar-content-header h4{
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
}

.sidebar-content-header h4 i{
	display: none;
	color: #fff;
	margin-right: 10px;
}

.sidebar-content{
	position: absolute;
	top: 130px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 15px 45px;
	background: var(--dgreen-toolbar);
	transform: translateX(-100%);
	transition: transform 0.15s ease-out;
	transition-delay: 0.5s;
	z-index: 400;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
	overflow-x: hidden;
}

.sidebar-content.open{
	transform: translateX(0);
	transition-delay: 0.0s;
	z-index: 500;
}

.sidebar-content.user{
	padding: 0;
}

.sidebar-content.user .sidebar-content-header{
	padding-top: 30px;
	padding-left: 45px;
}

.user-info-container{
	padding-top: 20px;
}

.user-info{
	width: 33.33%;
	float: left;
	text-align: center;
}

.user-info p{
	text-transform: uppercase;
	font-size: 0.9em;
	margin-bottom: 0;
}

.user .sidebar-content-content{
	padding-top: 0;
}

.user .post-img{
	width: 70px;
	height: 70px;
	border: 6px solid #fff;
}

.user .user-name span{
	display: block;
}


.sidebar-content-content{
	padding: 15px 0;
}

.sidebar-content-content ul li{
	position: relative;
	font-size: 1.1em;
	padding: 20px 0;
	border-bottom: 1px solid var(--dgreen);
}

.sidebar-content-content ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
}

.sidebar-content-content ul li a .log-statut{
	font-size: 0.7em;
	display: inline-block;
	text-decoration: underline;
	color: rgba(255,255,255,0.8);
}

.hashtag ul li{
	padding-right: 50px;
	padding-bottom: 0;
	border: none;
}

.channel-new{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1px 25px;
	background: var(--orange);
	border-radius: 100px;
	transform: translateY(5px) translateX(60%);
}

.contact-img{
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 100%;
	margin-right: 10px;
	border: 3px solid #fff;
}

.contact-img img{
	height: 100%;
}

.users ul li a{
	vertical-align: top;
	font-size: 1.1em;
}

.comments ul li a.last-sidebar-message{
	display: block;
	padding-left: 53px;
	color: rgba(255,255,255,0.6);
}

.comments ul li a span{
	display: block;
}

.online::after,
.offline::after{
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: -10px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

.online::after{
	background: var(--online);
}

.offline::after{
	background: var(--offline);
}

.comments .online::after,
.comments .offline::after{
	top: 24px;
	transform: translateY(0);
}


.main{
	width: 100%;
	height: auto;
	padding-top: 130px;
	padding-left: 15px;
	padding-right: 15px;
	transition: padding 0.2s;
	background: var(--grey-light);
}

.main.padded{
	padding-top: 0;
}

.main-header{
	position: fixed;
	top: 55px;
	left: 0;
	right: 0;
	box-shadow: -2px 0px 6px rgba(0,0,0,0.1);
	padding: 15px 25px;
	background: #fff;
	z-index: 2003;
}

.main-header h2{
	font-size: 1.6em;
}

.main-content{
	width: 100%;
	overflow-x: hidden;
}

.post{
	padding: 15px 20px;
	background: #fff;
	border: 1px solid var(--grey-medium-lighter);
	border-top: none;
}

.post-img,
.post-user{
	display: inline-block;
	float: left;
}

.post-img{	
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}

.post-img img{
	height: 100%;
}

.post-user{
	width: 70%;
	padding-left: 20px;
}

.user-name{
	font-size: 1.2em;
	font-weight: 700;
}

.user-name p{
	margin-bottom: 0;
}

.user-name span{
	font-size: 0.7em;
	font-weight: 400;
	color: var(--text-color-light);
}

.user-title p{
	font-size: 0.8em;
	margin-bottom: 0;
}

.post-img a{
	display: inline-block;
	text-decoration: none;
}
.post-user a{
	display: inline-block;
	text-decoration: none;
}

.post-user span{
	text-decoration: underline;
}

.post-content-img{
	width: 100%;
	overflow: hidden;
	height: auto;
	max-height: 200px;
	border: 1px solid var(--grey);
	background: rgba(0,0,0,0.2);
}

.post-content-img:active img{
	opacity: 0.8;
}

.post-content-img img{
	width: auto;
	height: auto;
	max-width: 100%
}

.post-content-img.img-2{
	width: 48%;
	margin: 0 1%;
	float: left;
}

.post-content-img.img-3{
	width: 48%;
	margin: 0 1% 1%;
	float: left;
}

.post-content-img.full-img{
	width: 98%;
}

.post-content-img.img-4{
	width: 48%;
	margin: 0 1% 1%;
	float: left;
}

.post-content-img.img-2 img,
.post-content-img.img-3 img,
.post-content-img.img-4 img{
	width: 100%;
}

.info-img a,
.info-user a{
	display: inline-block;
	text-decoration: none;
	color: var(--text-color);
	margin-left: 0;
}

.companies,
.advertising{
	display: none;
}

.user-header{
	display: none;
	position: fixed;
	top: 55px;
	left: 0;
	bottom: 0;
	width: 100%;	
	background: #fff;
	z-index: 3333;
	text-align: left;
	background: var(--dgreen-toolbar);
}

.user-header-container{
	padding: 30px;
	background: rgba(255,255,255,0.2);	
}

.user-header-container *{
	color: #fff;
}

/********************************************************/
/********************************************************/
/********************************************************/
/******************** @media tablet *********************/
/********************************************************/
/********************************************************/
/********************************************************/

@media only screen and (min-width:760px){
	.post{
		padding: 15px 90px;
	}

	.main-header{
		padding-left: 90px;
	}

	.post-content-img.img-2,
	.post-content-img.img-3,
	.post-content-img.img-4{
		max-height: 150px;
	}

	.infobar{
		padding: 20px 90px;
	}
}

/********************************************************/
/********************************************************/
/********************************************************/
/******************** @media tablet landscape ***********/
/********************************************************/
/********************************************************/
/********************************************************/

@media only screen and (min-width:800px){	
	.toolbar{
		z-index: 3000;		
		transform: translateX(0);
		width: 280px;
	}

	.post{
		padding: 15px 270px 15px 40px;
	}

	.main{
		padding-left: 295px;
		padding-right: 15px;
	}

	.main-header{
		top: 55px;
		left: 280px;
		padding-left: 58px;
	}

	.infobar{
		padding: 20px 190px;
		padding-right: 20px;
		padding-left: 390px;		
		margin-top: 110px;
	}

	.floating-button-toolbar{
		display: none;
	}

	.sidebar-header{
		top: 215px;
		bottom: 0;
		width: 50px;
		padding: 15px 5px;
		padding-top: 21px;
	}

	#user{
		display: none;
	}

	.sidebar-header .sidebar-icon{
		position: relative;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin-bottom: 25px;
		margin-right: 0;
		cursor: pointer;
	}

	.sidebar-content{
		top: 200px;
	}

	.sidebar-content{
		top: 215px;
		box-shadow: none;
		padding-left: 70px;
		padding-right: 30px;
		padding-bottom: 60px;
	}

	.sidebar-content h4{
		font-size: 1.2em;
	}

	.default-800{
		transform: translateX(0);		
	}

	.sidebar-content.user{
		transform: translateX(0);
		top: 55px;
		max-height: 158px;
		box-shadow: none;
	}

	.sidebar-content.user .sidebar-content-header{
		display: none;
	}

	.sidebar-content .user-name{
		font-size: 1em;
	}

	.user-info{
		font-size: 0.65em;
		line-height: 1.4em;
	}

	.sidebar-content.user .user-title{
		font-size: 0.8em;
	}

	.sidebar-content-content{
		padding: 0;
	}

	.infos{
		float: left;
		width: 49%;
		max-height: 243px;
		overflow: hidden;
	}

	.relations{
		margin-right: 2%;
	}

	.advertising{
		background: rgba(255,255,255,0.05);
	}

	.pub-visu{
		width: 100%;
		max-height: 100px;
		overflow: hidden;
		margin-top: 10px;
	}

	.pub-visu a{
		display: inline-block;
		text-decoration: none;
	}

	.pub-visu img{
		width: 100%;
	}

	.pub-content{
		padding: 10px 0;
	}

	.pub-content p{
		font-size: 0.8em;
		line-height: 1.4em;
		margin-bottom: 0;
	}

	.user .post-img{
		width: 60px;
		height: 60px;
	}

	.channel-new{
		padding: 1px 20px;
		transform: translateY(5px) translateX(55%);
	}

	.sidebar-content-content ul li{
		font-size: 0.95em;
	}

	.sidebar-icon::before,
	.sidebar-icon.default-800::before,
	.sidebar-icon.active::before{
		outline: none;
		top: 50%;
		left: 0;
		margin-left: 0;
		transform: translateX(-50%) translateY(-50%);
	}
	
	.sidebar-content-content ul li a .log-statut{
		display: block;
	}
	
	.sidebar-icon.active-800::before, 
	.sidebar-icon.active::before{
		margin-top: 0;
    margin-left: 0;
    left: 0;
    opacity: 1;
	}
	
	.user-header{
		display: inline-block;
		width: 280px;
		height: 168px;
		overflow: hidden;
	}

	.sidebar-content-content ul li{
		padding: 10px 0;
	}
}

/********************************************************/
/********************************************************/
/********************************************************/
/******************** @media desktop ********************/
/********************************************************/
/********************************************************/
/********************************************************/


@media only screen and (min-width:1100px){

	body{
		overflow-x: visible;
	}
	.action-button{
		display: none;
	}

	.companies,
	.advertising{
		display: inline-block;
	}

	.toolbar{
		width: 260px;
	}

	.main{
		width: 100%;
		padding-top: 116px;
		padding-right: 450px;
		padding-left: 279px;
	}

	.main.padded{
		padding-top: 125px;
	}

	.main-header{
		top: 55px;
		left: 260px;
		right: 451px;
		padding: 18px 25px;
		padding-left: 65px;
	}

	.main-header h2{
		font-size: 1.4em;
	}

	.post{
		padding-right: 40px;
		padding-left: 40px;
	}

	.post-content-img{
		max-height: 300px;
		cursor: pointer;
		background: rgba(0,0,0,0.2);
	}

	.post-content-img img{
		transition: opacity 0.2s;		
	}

	.post-content-img:hover img{
		opacity: 0.8;
	}

	.img-1{
		max-width: 100%;
	}

	.post-content-img img{
		width: auto;
		max-width: 100%;
		height: auto;
	}

	.todo{
		width: 210px;
		top: 55px;
		bottom: 0;
		transform: translateX(0);
		border-left: 1px solid var(--grey-light);
		z-index: 2004;
	}

	.infobar{
		display: inline-block;
		width: 240px;
		position: absolute;
		top: 55px;
		right: 210px;
		bottom: 0;
		margin-top: 0;
		padding: 15px 20px;
		z-index: 2006;
	}

	.infos{
		width: 100%;
		float: none;
		margin: 0;
		padding: 6px 13px;
		margin-bottom: 15px;
		border-radius: 3px;
		max-height: auto;
	}

	.infos h4{
		font-size: 0.8em;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.info-bloc{
		padding: 5px 0;
	}

	.info-bloc:last-child{
		border: none;
	}

	.info-img{
		width: 30px;
		height: 30px;
	}

	.info-user p{
		font-size: 0.7em;
		margin-bottom: 0;
	}

	.info-user em{
		font-size: 0.7em;
	}

	.info-user span{
		font-size: 0.6em;
	}

	.info-header i{
		display: none;
	}

	.info-user p,
	.info-user em,
	.info-user span{
		display: block;
		line-height: 1.4em;
	}
	
	.pub-visu{
		margin-top: 0;
		max-height: 60px;
	}

	.pub-content p{
		font-size: 0.7em;
	}

	.user-name span,
	.user-title{
		color: var(--text-lighter)
	}

	.post-user span:hover{
		text-decoration: none;
	}

	.comments ul li a.last-sidebar-message{
		padding-left: 0;
	}

	.user-header{
		width: 260px;
		height: 148px;
	}

	.user-header-container{
		padding: 20px;
	}

	.user-header .user-name span, .user-title{
		color: #fff;
	}

	.sidebar-content,
	.sidebar-header{
		top: 203px;
	}

	.sidebar-header{
		width: 45px;
	}

	.sidebar-content-header{
		padding-top: 0;
	}

	.channel-new{
		line-height: 1em;
		padding: 3px 15px;
		bottom: auto;
		top: 8px;
	}

	.sidebar-header .sidebar-icon{
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 0.8em;
	}

	.sidebar-content{
		padding-top: 25px;
	}
}

@media only screen and (min-width:1245px){

	.search{
		margin-left: 102px;
	}

}