.login-form{
	display: block;
	width: 90%;
	padding: 110px 0;
	margin-left: 5%;
	border-radius: 5px;
	min-height: 100%;
}

.link-from{
	margin-top: 15px;
	background: #fff;
	padding: 30px 20px 17px 20px;
	border-radius: 5px;
}

.network-log-button{
	position: relative;	
}

.network-log-button p{
	display: block;
}

.network-log-button .fa{
	position: absolute;
	top: 50%;
	left: 10px;
	color: #fff;
	font-size: 1.2em;
	transform: translateY(-50%);
}

.network-log-button{
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 8px;
	background: var(--grey);
	margin-bottom: 10px;
}

.facebook{
	background: #3b5998;
}

.twitter{
 	background: #1da1f2;
}

.linkedin{
	background: #0077b5;
}

.github{
	background: #333333;
}

.google{
	background: #ea4335;
}

@media only screen and (min-width:800px){
	.login-form{
		width: 50%;
		margin-left: 25%;
	}
}

@media only screen and (min-width:1100px){
	.login-form{
		width: 35%;
		margin-left: 32.5%;
		padding-top: 110px;
	}

	.sign-form{
		margin-left: 0;
		float: right;
		margin-right: 50px;
	}

	.link-from{
		position: absolute;
		top: 110px;
		right: 50px;
		margin-top: 0;
		min-width: 300px;
	}

	.log-form,
	.link-form{
		min-height: 300px;
	}
	.link-form2{
		min-height: 250px;		
	}

	.network-log-button{
		transition: opacity 0.2s;
	}

	.network-log-button:hover{
		color: #fff;
		opacity: 0.9;
	}
}