.d-container{
	width: 100%;
	height: auto;
}

.d-row{
	overflow: auto;
	zoom: 1;
	width: 100%;
	min-height: 100%;
}

.d-row.clear{
	overflow: visible;
}

.marged-b-25{
	margin-bottom: 25px;
}

.d-col{
	float: left;
}

/*MOBILE*/

	.d-col-12{width: 100%;}
	.d-col-11{width: 100%;}
	.d-col-10{width: 100%;}
	.d-col-9{width: 100%;}
	.d-col-8{width: 100%;}
	.d-col-7{width: 100%;}
	.d-col-6{width: 100%;}
	.d-col-5{width: 100%;}
	.d-col-4{width: 100%;}
	.d-col-3{width: 100%;}
	.d-col-2{width: 100%;}
	.d-col-1{width: 100%;}

/*TABLET*/

@media only screen and (min-width:800px){
	.d-col-12{width: 100%;}
	.d-col-11{width: 91.67%;}
	.d-col-10{width: 83.34;}
	.d-col-9{width: 17%;}
	.d-col-8{width: 66.67%;}
	.d-col-7{width: 58.33%;}
	.d-col-6{width: 50%;}
	.d-col-5{width: 41.66%;}
	.d-col-4{width: 33.33%;}
	.d-col-3{width: 25%;}
	.d-col-2{width: 16.66%;}
	.d-col-1{width: 8.33%;}
}

/*DESKTOP*/

@media only screen and (min-width:1100px){
	.d-col-12{width: 100%;}
	.d-col-11{width: 91.67%;}
	.d-col-10{width: 83.34;}
	.d-col-9{width: 17%;}
	.d-col-8{width: 66.67%;}
	.d-col-7{width: 58.33%;}
	.d-col-6{width: 50%;}
	.d-col-5{width: 41.66%;}
	.d-col-4{width: 33.33%;}
	.d-col-3{width: 25%;}
	.d-col-2{width: 16.66%;}
	.d-col-1{width: 8.33%;}
}
